html {
   background: black;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}

body {
   height: 100%;
   font-size: 12px;
   line-height: 1.2;
}

.outer {
   margin:auto;
   min-height: 100%;
   max-width: 800px;
   background-color: rgb(250,255,255);
}

.content {
   margin: 0 1rem;
}

.content h4,
.content h6,
.content h5 {
   margin-bottom: 0;
   margin: .25rem 0;
}

.content ul {
   margin-top: 0;
}

body > div > div > div > div {
   margin-left: .5rem;
}

#skills > .columns {
   margin: 0 .5rem;
}

#skills ul {
   white-space: nowrap;
}

.content .column {
   padding-top: 0;
}

.columns {
   display: flex;
   flex-wrap: wrap;
}

#objective,
#strengths,
#education {
   display: flex;
   align-items: baseline;
}

#objective > span,
#strengths > span,
#education > span {
   margin-left: .25rem;
   flex: 1;
}

.expandable {
  display: none;
}

.expandable.expand {
  display:block;
  margin: 0.5rem;
  margin-right: 3rem;
  background: rgba(0,0,0,.1);
  padding : .25rem .5rem;
}

.hasExpandable:not(.expanded)::after {
  content: '+';
  font-weight: bold;
}

.togglebtn {
  width: 100%;
}

.header {
  display: flex;
}

.header > .headerContent {
  flex: 1;
  margin: auto;
}

.linkWrapper {
  margin: .5rem 1.5rem;
  width: 65px;
  font-size: 10px;
  text-align: center;
}

.linkWrapper.right {
  right: 0;
  top: 0;
}

.qrcode {
  height: 50px;
}

@media only screen and (max-width: 510px) {
    .linkWrapper {
        display: none;
    }
}

@media print {
  .togglebtn {
    display: none;
  }
  /*Make sure not to add + to printed copy */
  .hasExpandable:not(.expanded)::after {
    content: '';
  }
  a {
    color: inherit;
  }
  .outer {
    background-color: white;
  }

  li {
    page-break-inside: avoid;
  }
}
